.drone-services-container {
    min-height: 100vh;
    padding: 20px;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; /* Отступы между карточками */
    position: relative;
    overflow: hidden; /* Скрыть все, что выходит за пределы контейнера */
}

.service-image {
    object-fit: cover; /* Обрезка изображения, чтобы оно заполнило контейнер */
    transition: transform 0.8s ease-in-out; /* Плавный переход для изменения размера */
}

.service-image:hover {
    transform: scale(1.1); /* Увеличиваем изображение на 10% при наведении */
}

.service-title {
    margin-top: 18px;
    font-size: 0.9rem;
    font-weight: bold;
}

.tabs-container {
    background-color: #e9ecef; /* Серый фон для вкладок */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    background: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.tab.active {
    background: #007bff;
    color: white;
}

.tab:hover {
    background: #0056b3;
    color: white;
}

.close-tab {
    margin-left: 10px;
    background: none;
    border: none;
    color: #333;
    font-size: 1.2rem;
    cursor: pointer;
}

.close-tab:hover {
    color: #ff0000;
}

.tab-details {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tab-image {
    width: 70%;
    border-radius: 8px;
}

.details-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #495057;
}








