@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

.editing-container {
    background-color: #f8f9fa; /* Светло-серый фон всей страницы */
    min-height: 100vh;
    padding: 20px;
}

/* Контейнер для текста и видео */
.editing-content {
    background-color: #e9ecef; /* Серый фон для текста */
    padding: 30px;
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    display: flex; /* Используем flexbox для горизонтального расположения */
    justify-content: space-between; /* Равномерно распределяем пространство */
    align-items: center; /* Выравниваем по центру */
}

/* Стили для контейнера видео */
.editing-video-wrapper {
    width: 35%; /* Видео занимает 50% ширины контейнера */
    display: flex;
    flex-direction: column; /* Видео располагаются одно под другим */
    gap: -30px; /* Промежуток между видео */
}

/* Стили для видео */
.editing-video-wrapper iframe {
    width: 100%; /* Видео растягивается на всю ширину контейнера */
    height: 300px; /* Фиксированная высота видео */
    border: none;
}

/* Стили для заголовков */
.highlighted-title {
    font-family: 'Roboto', sans-serif; /* Используем Roboto */
    font-size: 1.8rem; /* Размер шрифта */
    font-weight: 500; /* Тонкий шрифт */
    color: #007bff; /* Синий цвет */
    margin-bottom: 20px; /* Отступ снизу */

}

/* Стили для текста */
.editing-text-wrapper {
    width: 50%; /* Текст занимает оставшуюся часть ширины */
    padding-left: 20px; /* Отступ слева от текста */
    font-weight: 250;
}

/* Стиль для текста */
.editing-content p {
    font-family: 'Roboto', sans-serif; /* Используем Roboto */
    font-size: 1.05rem; /* Увеличиваем шрифт */
    color: #495057; /* Тёмно-серый текст */
    line-height: 1.8; /* Пространство между строками */
    margin-bottom: 15px; /* Отступы между абзацами */
    font-weight: 300; /* Тонкий шрифт */
}

/* Стили для выделенных фраз */
.editing-content .highlight {
    font-family: 'Roboto', sans-serif; /* Используем Roboto */
    font-weight: 250; /* Жирный текст для акцентов */
    color: #007bff; /* Синий цвет для акцентов */
}

/* Для адаптивности */
@media (max-width: 768px) {
    .editing-content {
        padding: 20px; /* Уменьшаем отступы для мобильных */
        flex-direction: column; /* Меняем на вертикальное расположение для мобильных */
    }

    h1 {
        font-size: 2rem; /* Уменьшаем шрифт заголовка */
    }

    .editing-video-wrapper,
    .editing-text-wrapper {
        width: 100%; /* Видео и текст занимают всю ширину на мобильных устройствах */
        padding-left: 0; /* Убираем отступ слева от текста */
    }
}






















