/* Общий фон и цвета */
.header {
    position: relative;
    z-index: 10;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.4); /* Прозрачный темный фон */
    padding: 8px 20px;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 0.95rem; /* Уменьшаем размер текста */
    color: #f8f9fa; /* Белый текст */
    padding: 0.5rem 1rem; /* Уменьшаем отступы */
    transition: color 0.3s ease, transform 0.3s ease;
    font-weight: normal;
}

.navbar-nav .nav-link:hover {
    color: #00bcd4; /* Голубой цвет при наведении */
    transform: scale(1.05); /* Легкое увеличение текста */
}

.navbar-nav .nav-link:active {
    color: #008c92; /* Тёмно-голубой при активном нажатии */
}

.logo-text {
    font-size: 1.6rem; /* Уменьшаем размер логотипа */
    font-weight: bold;
    color: #fff !important;
    text-transform: uppercase;
}

.logo-text:hover {
    color: #00bcd4 !important; /* Голубой цвет при наведении */
    text-decoration: none;
}

/* Анимация для мобильного меню */
.navbar-collapse {
    transition: transform 0.3s ease;
}

.navbar-collapse.show {
    transform: translateY(0);
}

/* Кнопка Contact */
.nav-link.btn-link.text-info {
    font-size: 1rem; /* Уменьшаем размер кнопки */
    color: #00bcd4;
    text-transform: uppercase;
    font-weight: normal;
    background: none; /* Убираем фон */
    border: none; /* Убираем обводку */
    text-decoration: none; /* Убираем подчеркивание */
}

.nav-link.btn-link.text-info:hover {
    color: #008c92; /* Голубой цвет при наведении */
    text-decoration: underline; /* Подчеркнутый текст */
}

.nav-link.btn-link.text-info:focus {
    outline: none; /* Убираем фокусный контур */
}

/* Убираем обводку вокруг кнопки бургер-меню */
.navbar-toggler:focus {
    outline: none; /* Убираем стандартный контур */
    box-shadow: none; /* Убираем тень */
    border: none;
}

.navbar-toggler {
    --bs-border-width: 0; /* Устанавливаем ширину границы в 0 */
    border: none; /* Убираем все границы */
}







