.hero-container {
    position: relative;
    height: 100vh; /* Занимает весь экран */
    width: 100%; /* Ширина 100% */
    overflow: hidden; /* Скрыть части видео, выходящие за пределы */
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Стиль для iframe, чтобы оно заполнило весь экран */
.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120vw;
    height: 120vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border: none;
    pointer-events: none;
}

.sound-button {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2;
    padding: 12px 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.sound-button:hover {
    background: rgba(255, 255, 255, 1);
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .hero-container {
        height: 75vh; /* Занимает весь экран */
        margin-top: -110px;
    }

    .video-container {
        max-width: 100%;
        height: 100vh; /* Видео заполняет экран на мобильных */
    }

    .video-container iframe {
        height: 100%; /* Видео будет занимать всю высоту экрана */
    }
}

@media (max-width: 480px) {
    .video-container {
        height: 80vh; /* Немного уменьшаем высоту для маленьких экранов */
    }

    .video-container iframe {
        height: 100%; /* Видео будет занимать всю высоту */
    }
}




























