/* Контейнер с флагами и логотипами */
.flag-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Расстояние между изображениями */
    flex-wrap: wrap; /* Делаем изображения на мобильных устройствах более гибкими */
    max-width: 600px;
    margin: 20px auto;
}

/* Изображения флагов с эффектами */
.flag-image {
    width: 70px;  /* Установить ширину */
    height: 50px; /* Установить высоту */
    border-radius: 8px; /* Скругляем углы */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flag-image:hover {
    transform: scale(1.1); /* Увеличиваем флаг при наведении */
}

/* Текстовый контейнер */
h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #333; /* Темный цвет для заголовка */
}

p {
    font-size: 1.1rem;
    color: #555; /* Легкий серый для текста */
}

/* Контакты */
p strong {
    font-weight: 600;
}

/* Иконки */
.fa-whatsapp, .fa-envelope {
    color: #007bff; /* Синий цвет для иконок */
    margin-right: 10px; /* Расстояние между иконкой и текстом */
    vertical-align: middle; /* Выравнивание иконок по вертикали */
}

p {
    margin-top: 10px; /* Добавляем немного отступов между строками */
    font-size: 1rem;
    color: #333;
}







