body {
  background-color: white;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
  letter-spacing: 0 !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  color: #666 !important;
}

footer {
  background-color: #343a40; /* Цвет футера */
  color: white;
  text-align: center;
  padding: 20px 0;
}

.page-content {
  position: relative;
  z-index: 1;
  margin-top: 100vh; /* отступ на всю высоту видео */
  background-color: #fff;
}



