html, body {
  height: 100%; /* Устанавливаем полную высоту для HTML и Body */
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота всей страницы */
}

.content {
  flex: 1; /* Контент занимает всё доступное пространство */
}

footer {
  background-color: #343a40; /* Цвет футера */
  color: white;
  text-align: center;
  padding: 20px 0;
}



