/* Устанавливаем высоту для HTML и BODY */
html, body {
  height: 100%; /* Полная высота окна */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
  letter-spacing: 0 !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  color: #666 !important;
}

